<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/dist/css/bootstrap.css}">
</head>
<body>
<table class="table table-sm table-primary table-striped table-hover" style="width: 50%">
    <thead class="table-info">
    <tr>
        <th>#</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="g : ${genres}">
        <td th:text="${g.id}"></td>
        <td th:text="${g.name}"></td>
    </tr>
    </tbody>
</table>
<script th:src="@{webjars/jquery/3.7.0/dist/jquery.js}"></script>
<script th:src="@{webjars/popperjs__core/2.11.8/dist/umd/popper.js}"></script>
<script th:src="@{webjars/bootstrap/5.3.0/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>